@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>canlılar</title>
</head>
<body>
    <div>
        <div class="top">
            <h1>deneme2</h1>
        </div>
        <div class="sitename">
            <h1>deneme3</h1>
        </div>
        <div class="description">
            <h1>deneme4</h1>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a asp-action="AllCreatures" class="nav-link">Canlılar</a>
                </li>
            </ul>

        </div>
        <div class="contact">
            <a asp-action="Contact" class="nav-link">iletişim</a>
        </div>
        <h1>deneme5</h1>
    </div>
</body>
</html>
