@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>iletişim</title>
</head>
<body>
    <div>
        <a asp-action="Index" class="nav-link">Ana Sayfa</a>
    </div>
</body>
</html>
