ana sayfa
@{
    ViewData["Title"] = "Home Page";
}



<div id="carouselExampleIndicators" style="background-color: #99ffdd;" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <!--https://www.neredekal.com/blog/artvinde-yok-olmadan-once-gorulmesi-gereken-10-doga-harikasi-yer/-->
            <img class="d-block w-100" src="https://cdn1.neredekal.com/resimler/haber/image/8_ortacalar_ciftekopru.jpg" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
                <h5>Ortacalar Çifteköprü</h5>
            </div>
        </div>
        <div class="carousel-item">
            <!--https://www.yoair.com/tr/blog/ecology-critically-endangered-and-rare-animal-species-of-planet-earth/
            üsteki resim adı solenodon buda resim adres https://www.yoair.com/tr/blog/ecology-critically-endangered-and-rare-animal-species-of-planet-earth/-->
            <img class="d-block w-100" src="https://d1v9pyzt136u2g.cloudfront.net/blog/wp-content/uploads/2021/08/20122244/Solenodon-paradoxus_Eladio-Fernandez.jpg" alt="Second slide">
            <div class="carousel-caption d-none d-md-block">
                <h5>Solenodon</h5>
            </div>
        </div>
        <div class="carousel-item">
            <!--https://onedio.com/haber/endemik-diyari-kazdaglari-nda-yetisen-her-derde-deva-10-bitki-turu-712686-->
            <img class="d-block w-100" src="https://img-s3.onedio.com/id-5745a8607d8099e831258295/rev-0/w-1200/h-800/f-jpg/s-64bff2cfd8434be6e08086071c609b58a1827899.jpg" alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
                <h5>Sarıkız Çayı (Sideritis Trojana Ehrend)</h5>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row position-relative" style="background-color: #00b37a; background-image: url('https: //canfidancilik.com/wp-content/uploads/revslider/plant.png') ">


    <div class="col-lg-12">
        <h2 class="section-title">Yazılar</h2>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6">
        <b>Ortacalar Çifteköprü </b>
        <p>Arhavi ilçesine bağlı olan Ortacalar bölgesindeki Cifteköprü, Artvin’e gelen turistlerin ziyaret noktalarından biridir. Köprüye, ilçe merkezinden araçla 15 dakikada kolayca ulaşabilirsiniz. Ortacalar Çifteköprü kayıtlara göre 18. yüzyılda yapıldığına dair bilgi bulunsa da 700 yıllık bir köprü olduğu tahmin edilmektedir. 2003 yılında restorasyon sürecinden geçen köprü, hem görkemiyle hem de çevresindeki doğal güzelliğiyle unutulmayacak bir gezi noktası olacak sizlere. Burada doyasıya fotoğraf çekebilir ve çevresine kısa keşifler yapabilirsiniz.</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6">
        <b>Solenodon</b>
        <p>Solenodon, Amerika’ya özgü bir türdür. Bu hayvan türü sadece Küba, Dominik Cumhuriyeti ve Haiti adalarının yer aldığı Karayipler’de yaşar. Genellikle yuvalarını veya tünellerini yaptıkları ağaçlık alanlarda yaşarlar. Bu evleri ağaç kökleri arasına, kayaların altına veya içi boş ağaç kovuklarına inşa ederler.</p>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6">
        <b>Sarıkız Çayı (Sideritis Trojana Ehrend)</b>
        <p>
            Yalnızca Kaz Dağları’nda yetişen bu bitki “Dağ Çayı” olarak da bilinir. 1500 metreden yüksek olan kayalıklarda yetişir. Antiülser, antimikrobiyal, antioksidan özelliği taşır. Diş eti hastalıklarına karşı etkilidir. Ağrı kesici, ateş düşürücü olarak da kullanılır.Sindirimi kolaylaştırır. Soğuk algınlığına iyi gelir.
        </p>
    </div>


</div>