@model IEnumerable<odev_web.Models.Blog>

@{
    ViewBag.Title = "Index";
}


    
<!-- 25/2.35 sqlserver kullan unutma.bu halde başlatma döngüye girere veya hata veriri.-->
@foreach(var i in Model)
 {
        <p>i.Baslik</p>
 }
